@media (max-width: 767px) {
    .sidemenu-dekstop {
        display: none;
    }
}

* {
    scroll-behavior: smooth;
}

code {
    color: #86198f;
    background: #e5e7eb;
    padding: 2px 6px;
    border-radius: 10%;
    font-weight: normal;
}


/* Overlay */
/* Gaya untuk Overlay Modal */
.overlay {
    /* Tersembunyi secara default */
    display: none; 
    /* Posisi tetap (fixed) di seluruh viewport */
    position: fixed; 
    z-index: 1; /* Pastikan di atas elemen lain */
    padding-top: 60px; /* Jarak dari atas */
    left: 0;
    top: 0;
    width: 100%; /* Lebar penuh */
    height: 100%; /* Tinggi penuh */
    overflow: auto; /* Mengaktifkan scrolling jika konten terlalu besar */
    background-color: rgb(0,0,0); /* Warna hitam */
    background-color: rgba(0,0,0,0.9); /* Hitam dengan transparansi */
}

/* Konten di dalam Overlay (Gambar) */
.overlay-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Tombol Tutup (Close Button) */
.close-btn {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-btn:hover,
.close-btn:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}